{% extends 'base.html' %}
{% block title %}<title>Login</title>{% endblock %}
{% load crispy_forms_tags %}
{#    <script#}
{#            src="https://code.jquery.com/jquery-3.3.1.js"#}
{#            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="#}
{#            crossorigin="anonymous"></script>#}
{#<script src="js/js.js" type="text/javascript"></script>#}
{% block forms %}
    <br><br><br><br>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.username|as_crispy_field }}
    {{ form.password|as_crispy_field }}
    <input type="checkbox" id="show_pass"> Show password <br>


    <button type="submit" class="btn btn-dark btn-sm">Login</button>
</form>
    {{ message }}
    <p><a href="{% url 'password_forgotten' %}">I forgot my password</a></p>
    <p><a href="{% url 'register' %}">Sign up</a></p>
{% endblock %}